{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}
{{- define "main" }}
<div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="/images/breadcrumb-bg.png" style="background-image: url(&quot;/images/breadcrumb-bg.png&quot;); margin-top: 131px;">
    <div class="container">
        <div class="tm-breadcrumb">
            <h2>DermaElixir aftercare services</h2>
            <ul>
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li>{{ .Title }} </li>
            </ul>
        </div>
    </div>
</div>

<main class="page-content pt-5">
    
    {{ .Content }}
    
     
       <!-- Faq Area -->
       <section class="tm-section tm-faq-area tm-padding-section bg-white"
       data-bgimage="assets/images/faq-bg-image.jpg" data-white-overlay="9">
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-xl-6 col-lg-8 col-md-9 col-12">
                   <div class="tm-sectiontitle text-center">
                    <h2>After Care</h2>
                       <span class="tm-sectiontitle-divider">
                        <img src="/images/section-divider-icon.png" alt="section divider">
                       </span>
                       <p>Aftercare services are also available at DermaElixir</p>
                   </div>
               </div>
           </div>
           <div class="row justify-content-center">
               <div class="col-xl-8 col-lg-10 col-12">
                   

                   <div class="tab-content" id="bstab1-ontent">
                       <div class="tab-pane fade show active" id="bstab1-area1" role="tabpanel"
                           aria-labelledby="bstab1-area1-tab">

                           <!-- Accordion -->
                           <div id="tm-accordion-1" class="tm-accordion">
                               <div class="card">
                                   <div class="card-header" id="tm-accordion-1-heading-1">
                                       <h5 class="mb-0">
                                           <button class="btn btn-link" data-toggle="collapse"
                                               data-target="#tm-accordion-1-collapse-1" aria-expanded="true"
                                               aria-controls="tm-accordion-1-collapse-1">
                                               Dermal Fillers AfterCare :
                                           </button>
                                       </h5>
                                   </div>

                                   <div id="tm-accordion-1-collapse-1" class="collapse show"
                                       aria-labelledby="tm-accordion-1-heading-1"
                                       data-parent="#tm-accordion-1">
                                       <div class="card-body">
                                        {{ with .Scratch.Get "DermalFillers" }}{{ . }}{{ end }}
                                       </div>
                                   </div>
                               </div>

                               <div class="card">
                                   <div class="card-header" id="tm-accordion-1-heading-2">
                                       <h5 class="mb-0">
                                           <button class="btn btn-link collapsed" data-toggle="collapse"
                                               data-target="#tm-accordion-1-collapse-2" aria-expanded="false"
                                               aria-controls="tm-accordion-1-collapse-2">
                                               Anti-Wrinkle Treatment Aftercare :
                                           </button>
                                       </h5>
                                   </div>
                                   <div id="tm-accordion-1-collapse-2" class="collapse"
                                       aria-labelledby="tm-accordion-1-heading-2"
                                       data-parent="#tm-accordion-1">
                                       <div class="card-body">
                                        {{ with .Scratch.Get "AntiWrinkle" }}{{ . }}{{ end }}
                                       </div>
                                   </div>
                               </div>

                               <div class="card">
                                   <div class="card-header" id="tm-accordion-1-heading-3">
                                       <h5 class="mb-0">
                                           <button class="btn btn-link collapsed" data-toggle="collapse"
                                               data-target="#tm-accordion-1-collapse-3" aria-expanded="false"
                                               aria-controls="tm-accordion-1-collapse-3">
                                               Microneedling Aftercare :
                                           </button>
                                       </h5>
                                   </div>
                                   <div id="tm-accordion-1-collapse-3" class="collapse"
                                       aria-labelledby="tm-accordion-1-heading-3"
                                       data-parent="#tm-accordion-1">
                                       <div class="card-body">
                                        {{ with .Scratch.Get "Microneedling" }}
                                        {{ . }}{{ end }}
                                       </div>
                                   </div>
                               </div>

                               <div class="card">
                                   <div class="card-header" id="tm-accordion-1-heading-4">
                                       <h5 class="mb-0">
                                           <button class="btn btn-link collapsed" data-toggle="collapse"
                                               data-target="#tm-accordion-1-collapse-4" aria-expanded="false"
                                               aria-controls="tm-accordion-1-collapse-4">
                                               Chemical Peel Aftercare :
                                           </button>
                                       </h5>
                                   </div>
                                   <div id="tm-accordion-1-collapse-4" class="collapse"
                                       aria-labelledby="tm-accordion-1-heading-4"
                                       data-parent="#tm-accordion-1">
                                       <div class="card-body">
                                        {{ with .Scratch.Get "ChemicalPeel" }}
                                        {{ . }}{{ end }}
                                       </div>
                                   </div>
                               </div>


                               <div class="card">
                                <div class="card-header" id="tm-accordion-1-heading-5">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#tm-accordion-1-collapse-5" aria-expanded="false"
                                            aria-controls="tm-accordion-1-collapse-5">
                                            PDO Thread Lift Aftercare :
                                        </button>
                                    </h5>
                                </div>
                                <div id="tm-accordion-1-collapse-5" class="collapse"
                                    aria-labelledby="tm-accordion-1-heading-5"
                                    data-parent="#tm-accordion-1">
                                    <div class="card-body">
                                     {{ with .Scratch.Get "PDO" }}
                                     {{ . }}{{ end }}
                                    </div>
                                </div>
                            </div>    

                               <div class="card">
                                   <div class="card-header" id="tm-accordion-1-heading-5">
                                       <h5 class="mb-0">
                                           <button class="btn btn-link collapsed" data-toggle="collapse"
                                               data-target="#tm-accordion-1-collapse-5" aria-expanded="false"
                                               aria-controls="tm-accordion-1-collapse-5">
                                               PRP Treatment Aftercare:
                                           </button>
                                       </h5>
                                   </div>
                                   <div id="tm-accordion-1-collapse-5" class="collapse"
                                       aria-labelledby="tm-accordion-1-heading-5"
                                       data-parent="#tm-accordion-1">
                                       <div class="card-body">
                                        {{ with .Scratch.Get "PRP" }}
                                        {{ . }}{{ end }}
                                       </div>
                                   </div>
                               </div>                 
                           </div>
                           <!--// Accordion -->
                       </div>
                   </div>

               </div>
           </div>
       </div>
    </section>  
   <!--// Faq Area -->          
</main>
{{end -}}