{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}
{{- define "main" -}}

<div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="/images/breadcrumb-bg.png" style="background-image: url(&quot;/images/breadcrumb-bg.png&quot;); margin-top: 131px;">
    <div class="container">
        <div class="tm-breadcrumb">
            <h2>{{ .Title }}</h2>
            <ul>
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li>{{ .Title }} </li>
            </ul>
        </div>
    </div>
</div>

<main class="page-content">
    <!-- About Area -->
    <section id="tm-about-area" class="tm-section tm-about-area tm-padding-section bg-white"
    data-bgimage="/images/about-bg-image.png" data-white-overlay="8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-9 col-12">
                <div class="tm-sectiontitle text-center">
                    <h2>{{ .Title }}</h2>
                    <span class="tm-sectiontitle-divider">
                        <img src="/images/section-divider-icon.png" alt="section divider">
                    </span>
                    <p>Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad teimpor sittem elit
                        inuning ut sed sittem do eiusmod.</p>
                </div>
            </div>
        </div>
        <div class="tm-about tm-scrollanim" data-bgimage="assets/images/about-block-background.png">
            <div class="row">
                <div class="col-xl-7 col-lg-8">
                    <h3>Welcome to munu beauty</h3>
                    {{ .Content }}
                    <a href="#" class="tm-button">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// About Area -->
</main>

{{- end -}}