{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}
{{- define "main" }}
<div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="/images/breadcrumb-bg.png" style="background-image: url(&quot;/images/breadcrumb-bg.png&quot;); margin-top: 131px;">
    <div class="container">
        <div class="tm-breadcrumb">
            <h2>Our Treatments at DermaElixir</h2>
            <ul>
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li>{{ .Title }} </li>
            </ul>
        </div>
    </div>
</div>

<main class="page-content pt-5">
    <!-- About Area -->
    <section id="tm-about-area" class="tm-section tm-about-area tm-padding-section bg-white"
        data-bgimage="/images/about-bg-image.png" data-white-overlay="8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-9 col-12">
                    <div class="tm-sectiontitle text-center">
                        <h2>Treatments</h2>
                        <span class="tm-sectiontitle-divider">
                            <img src="/images/section-divider-icon.png" alt="section divider">
                        </span> 
                    </div>
                </div>
            </div>
            <div class="tm-about tm-scrollanim" data-bgimage="/images/about-block-background.png">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <h3>Below is a list of the treatments offered at DermaElixir.</h3>
                       
                        <ol>
                            <li>Hair Loss Treatment (PRP, Mesotherapy, Hair Filler, Alopecia Treatment, PRF, Biotin Therapy, Hair PDRNs)</li>
                            <li>Microneedling (Vampire Facial, Mesoneedling)</li>
                            <li>Dermal Filler</li>
                            <li>Lip Filler</li>
                            <li>Facial (Red Carpet Facial, Hydrafacial)</li>
                            <li>Chemical Peel</li>
                            <li>Pigmentation and Acne Treatment</li>
                            <li>PDO and Mono Threads</li>
                            <li>Anti-Wrinkle Treatment</li>
                            <li>Skin Booster (Karisma, Profhilo, Jalupro, Seventy Hyal, Sunekos)</li>
                            <li>Under-Eye Treatment</li>
                            <li>PDRN (Polynucleotides) Treatments for Hair, Face, Body</li>
                            <li>IV Drips</li>
                            <li>Vitamin IM Booster Injection</li>
                            <li>Fat Dissolving (Lemon Bottle, Aqualyx)</li>
                            <li>Dermal Filler Dissolve</li>
                            <li>Free Consultation</li>
                          </ol>


                        <p>Thank you for choosing Derma Elixir. We look forward to being part of your aesthetic journey.
                        </p>

                        <a href="/#tm-contact-area" class="tm-button">for more info Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
     <!-- Video Area -->
     <section class="tm-section tm-video-area" data-bgimage="/images/treatments-background.jpg"
     data-overlay="3">
     <div class="container">
         <div class="tm-video text-center">
         </div>
     </div>
    </section>
    <!--// Video Area -->

    <section id="aftercare" class="tm-section tm-about-area tm-padding-section bg-white"
        data-bgimage="/images/about-bg-image.png" data-white-overlay="8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-9 col-12">
                    <div class="tm-sectiontitle text-center">
                        <h2>After Care</h2>
                        <span class="tm-sectiontitle-divider">
                            <img src="/images/section-divider-icon.png" alt="section divider">
                        </span> 
                    </div>
                </div>
            </div>
            <div class="tm-about tm-scrollanim" data-bgimage="/images/about-block-background.png">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <h3>Aftercare services are also available at DermaElixir.</h3>
                       
                        <ul>
                            <li>Aftercare for Dermal Filler</li>
                            <li>Aftercare for Anti-Wrinkle</li>
                            <li>Aftercare for Microneedling</li>
                            <li>Aftercare for Chemical Peel</li>
                            <li>Aftercare for PRP Hair and Face</li>
                          </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>


            <!-- Gallery Imagess -->
            <section class="tm-section tm-member-area tm-padding-section bg-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-9 col-12">
                            <div class="tm-sectiontitle text-center">
                                <h2>Gallery</h2>
                                <span class="tm-sectiontitle-divider">
                                    <img src="/images/section-divider-icon.png" alt="section divider">
                                </span>
                                <p>Here is a gallery showcasing some of our work and treatments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row tm-member-slider">

                        <!-- Single Item -->
                        <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/06-890.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->

                       <!-- Single Item -->
                       <div class="col-lg-4">
                        <div class="tm-member tm-scrollanim">
                            <div class="tm-member-topside">
                                <img src="/images/gallery/00-647.jpg" alt="team member">
                            </div>
                        </div>
                        </div>
                        <!--// Single Item -->

                        <!-- Single Item -->
                        <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/17-543.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->

                         <!-- Single Item -->
                         <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/23-053.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->

                        <!-- Single Item -->
                         <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/24-896.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->

                        <!-- Single Item -->
                        <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/55-498.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->


                        <!-- Single Item -->
                        <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/53-337.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->


                        <!-- Single Item -->
                        <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/43-277.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->


                        <!-- Single Item -->
                        <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/28-019.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->

                        <!-- Single Item -->
                        <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/01-463.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->


                        <!-- Single Item -->
                        <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/24-497.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->

                        <!-- Single Item -->
                        <div class="col-lg-4">
                            <div class="tm-member tm-scrollanim">
                                <div class="tm-member-topside">
                                    <img src="/images/gallery/25-176.jpg" alt="team member">
                                </div>
                            </div>
                        </div>
                        <!--// Single Item -->

                    </div>
                </div>
            </section>
            <!--// Team Members -->



</main>
{{end -}}