 
 <!-- Call To Action -->
 <div class="tm-section tm-calltoaction-area bg-grey py-5" Id="tm-contact-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="tm-calltoaction-image tm-scrollanim">
                    <img src="images/dermaelixir_qr.jpeg" alt="QR Code Dermaelixir vCard" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tm-calltoaction-content tm-scrollanim">
                    <h3>Looking for any kind of dermatology service? Give us a call!</h3>
                    <h4><a href="tel:+447915739948"><i class="ti ti-mobile"></i>07915739948</a></h4>
                    <h4><span>OR</span></h4>
                   <!-- WhatsApp Button -->
                    <a
                    href="https://wa.me/{{ .Site.Data.siteinfo.contact.whatsapp }}"
                    target="_blank"
                    style="display: inline-flex; align-items: center; background-color: #25D366; color: white; padding: 10px 16px; border-radius: 8px; text-decoration: none; font-weight: 600; font-size: 16px;"
                    >
                    <i class="fab fa-whatsapp" style="margin-right: 8px; font-size: 18px;"></i>
                    Call us on WhatsApp
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Call To Action -->