  <!-- Heroslider Area -->
  <div class="tm-heroslider-area">

    <div class="tm-heroslider-slider">

        <!-- Heroslider Item -->
        <div class="tm-heroslider" data-bgimage="images/hero1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content">
                                <h1>At DermaElixir, we provide the best care to enhance your skin’s natural glow.</h1>
                                <p>The experience of beauty often involves an interpretation of some
                                    entity as being in balance.</p>
                                <a href="/treatments" class="tm-button">Treatments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Heroslider Item -->

        <!-- Heroslider Item -->
        <div class="tm-heroslider" data-bgimage="images/hero2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content">
                                <h1>Beauty in a woman is a timeless treasure, bringing joy that never fades.</h1>
                                <p>DermaElixir delivers top-quality care to boost your skin’s natural radiance, leaving you with healthy, glowing skin that feels as good as it looks.</p>
                                <a href="/about" class="tm-button">About DermaElixir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Heroslider Item -->

        <!-- Heroslider Item -->
        <div class="tm-heroslider" data-bgimage="images/hero3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content">
                                <h1>Your skin tells a story of beauty, joy, and the love you put into it.</h1>
                                <p>At DermaElixir, we offer a variety of treatments to enhance your natural beauty such as Microneedling, Dermal Fillers, Lip Fillers, Anti-wrinkle Treatments, and more.</p>
                                <a href="/treatments" class="tm-button">Our Treatments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Heroslider Item -->

    </div>

    <ul class="tm-heroslider-social">
        <li><a href="https://www.instagram.com/{{ .Site.Data.siteinfo.contact.instagram }}/" title="instagram"><i class="ti ti-instagram"></i></a>
            <span class="tm-heroslider-social-tooltip">Instagram</span>
        </li>
        <li>
          <a href="https://wa.me/{{ .Site.Data.siteinfo.contact.whatsapp }}?text=Hello%21%20I%20%E2%80%99m%20interested%20in%20learning%20more%20about%20DermaElixir%E2%80%99s%20treatments.%20Can%20you%20please%20provide%20more%20details%3F" title="whatsapp" target="_blank">
             <i class="fab fa-whatsapp"></i></a>
            <span class="tm-heroslider-social-tooltip">Whatsapp</span>
        </li>
        <li><a href="#tm-contact-area" title="contact"><i class="ti ti-email"></i></a>
            <span class="tm-heroslider-social-tooltip">Contact</span>
        </li>
    </ul>

</div>
<!--// Heroslider Area -->